---
layout: archive
title: "Teaching"
permalink: /teaching.html
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Graduate Student Instructor, Department of Mechanical Engineering</h2>
<h3> University of California, Berkeley, CA, Fall 2022</h3>

<p align="justify">
  Hold discussion sessions and office hours for 150 students on the topic of fluid dynamics.
</p>


<h2>Undergraduate Teaching Assistant, Department of Mechanical Engineering</h2>
<h3> Imperial College London, UK, 2018-2019 </h3>

<p align="justify">
  Led weekly tutorials for a group of 15 first and second year students to develop 
  their understanding of technical concepts in: 
  <ul>
    <li> <b>Mathematics:</b> Vector Calculus, Partial Differential Equations, Fourier Transforms and Series, 
      Matrix Algebra, Numerical Methods, Probability & Statistics. </li>
    <li><b>Fluid Dynamics:</b> Incompressible Flows, Turbulence, Compressible Flows. </li>
    <li><b>Thermodynamics:</b> 1st and 2nd Laws, Introduction to Combustion. </li>
  </ul>
</p>

